<div class="col-sm-6 col-md-3 card" *ngFor="let room of rooms">
  <div class="container">
      <img class="card-img-top" src="{{room.imageUrl}}" alt="{{room.name}}">
      <div class="card-body">
        <h4 class="card-title">{{ room.name }}</h4>
        <p class="card-text">{{room.description}}</p>
        <button type="button" class="btn btn-info">Reservaties</button>
      </div>
    </div>
  </div>
