<!--<div *ngFor="let reservation of reservations[0]">-->
  <!--<div class="col-md-3">-->
    <!--<p>reden: {{reservation?.message}}</p>-->
    <!--<p>starttijd: {{reservation?.startTime}}</p>-->
    <!--<p>starttijd: {{reservation?.startTime}}</p>-->
  <!--</div>-->
<!--</div>-->
<h3>Uw reservaties</h3>
<p>Voor annulatie bel naar 014/XXXXXX</p>
<div *ngFor="let reservation of reservations[0]">
<div class="card">
  <div class="card-body">
    <p>Reden: {{reservation.message}}</p>
    <p>status: {{reservation.status[reservation.status.length - 1]}}</p>
  </div>
</div>
</div>
