  <div class="card">
  <div class="card-body">
    <p>Reservatie door: {{user.firstName}}</p>
    <p>Reden: {{reservation.message}}</p>
    <p>Vanaf: {{startDate.toDateString()}} {{startDate.getHours()}}:{{endDate.getMinutes()}}</p>
    <p>Tot: {{endDate.toDateString()}} {{endDate.getHours()}}:{{endDate.getMinutes()}}</p>
    <p>Kamers: <span *ngFor="let room of rooms">{{room.name}}</span> </p>
    <p>status: {{reservation.status}}</p>
    <div *ngIf="authService.loggedIn()">
      <div *ngIf="authService.isAdmin()">
        <button class="btn btn-success col-4" (click) = "onChangeStatus(reservation, 'accepted')">Toestaan</button>
        <button class="btn btn-warning col-4" (click) = "onChangeStatus(reservation, 'cancelled')">Annuleren</button>
        <button class="btn btn-primary col-4" (click) = "onChangeStatus(reservation, 'denied')">Weigeren</button>
        <button class="btn btn-danger col-4" (click) = "onChangeStatus(reservation, 'deleted')">Verwijderen</button>
      </div>

    </div>
  </div>
</div>
