<form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="form-group">
        <label for="name">Naam</label>
        <input
          type="text"
          id="name"
          [ngModel]="room?.name"
          class="form-control"
          name="name"
          required>
      </div>
      <div class="form-group">
        <label for="description">Beschrijving</label>
        <input
          type="text"
          id="description"
          [ngModel]="room?.description"
          class="form-control"
          name="description"
          required>
      </div>
      <div class="form-group">
        <label for="url">Afbeelding's url</label>
        <input
          type="text"
          id="url"
          [ngModel]="room?.url"
          class="form-control"
          name="url"
          required>
      </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Opslaan</button>
    <button type="button" class="btn btn-danger" (click)="onClear(f)" autofocus>Cancel</button>
  </div>
</form>
