<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <label for="message">Reden voor reservatie: </label>
      <input         type="textarea"
                     id="message"
                     class="form-control"
                     [ngModel]="reservation?.message"
                     name = "message"
                     required/>
      <br/>
      <label for="startDate">Startdatum: </label>
      <input         type="textarea"
                     id="startDate"
                     class="form-control col-6"
                     [ngModel]="startDate"
                     name = "startDate"
                     placeholder="12-01-2017"
                     required/>
      <label for="message"> om </label>
      <input         type="text"
                     id="startTime"
                     class="form-control col-6"
                     [ngModel] = "startTime"
                     name = "startTime"
                     placeholder="00:00"
                     required/>
      <br/>
      <label for="endDate">Einddatum: </label>
      <input         type="textarea"
                     id="endDate"
                     class="form-control col-6"
                     [ngModel]="endDate"
                     name = "endDate"
                     placeholder="12-01-2017"
                     required/>
      <label for="message"> om </label>
      <input         type="text"
                     id="endTime"
                     class="form-control col-6"
                     [ngModel]="endTime"
                     name = "endTime"
                     placeholder="00:00"
                     required/>
      <select id="selectedRoom"
              name="selectbox"
              class="form-control"
              [ngModel]="reservation?.rooms"
      >
        <option *ngFor="let availableRoom of rooms" [value] = "availableRoom._id">
          {{availableRoom.name}}
        </option>
      </select>
      <br/>

      <button class="btn btn-primary" type="submit">Reserveren!</button>
    </form>
  </div>
</div>
