<h2 class="page-header center">Inloggen</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login">
</form>

