<div class="row">
  <div *ngFor="let reservation of reservations">
    <div *ngIf = "!authService.isAdmin()">
      <div *ngIf="reservation.status.lastIndexOf('pending') != -1 || reservation.status.indexOf('accepted') != -1">
        <app-reservation [reservation]="reservation"
                         class="col-sm-6 col-md-6 ">
        </app-reservation>
      </div>
    </div>
    <div *ngIf="authService.isAdmin()">
      <app-reservation [reservation]="reservation"
                       class="col-sm-6 col-md-6 ">
      </app-reservation>
    </div>
  </div>
</div>
<div class="row" *ngIf="user != null">
  <div class = "col-sm-12 col-md-12">
    <reservation-input [reservations]="reservations"></reservation-input>
  </div>
</div>

