<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#!">Zaal reservaties</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          (click)="navCollaps = !navCollaps">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
        id="navbarContent"
       [collapse]="navCollaps"
       (click)="navCollaps = !navCollaps">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/kamers" routerLinkActive="active">Zalen</a>
      </li>

    </ul>
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/reservaties" routerLinkActive="active">Reservaties</a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="/profile" >{{this.email}}</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item">
        <a class="nav-link"routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogoutClick()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
