<div class="modal-body text-center">
  <p>Weet u zeker dat u {{room?.name}} wilt verwijderen.</p>
  <button type="button" class="btn btn-danger" (click)="onConfirm()" >Ja</button>
  <button type="button" class="btn btn-primary" (click)="onClose()" autofocus>Nee</button>
</div>

