<div class="card">
  <img *ngIf="room.url" class="card-img-top" src="{{room.url}}" alt="{{room.name}}">
  <div class="card-body">
    <h4 class="card-title">{{ room.name }}</h4>
    <p class="card-text">{{room.description}}</p>
    <button type="button" class="btn btn-info btn-block" (click)="reservatie()">Reservaties</button>
  </div>
  <ul class="list-group list-group-flush" *ngIf="authService.isAdmin()">
    <li class="list-group-item"><h5>Admin:</h5></li>
    <li class="list-group-item">
      <button type="button" class="btn btn-warning btn-block" (click)="onEdit()">Bewerk</button>
    </li>
    <li class="list-group-item">
      <button type="button" class="btn btn-danger btn-block" (click)="onDelete()">Verwijder</button>
    </li>
  </ul>
</div>
