<div class="row" *ngIf="authService.isAdmin()">
<div class="col">
    <button id="add-room" type="button" class="btn btn-success btn-lg btn-block" (click)="onAdd()">Zaal toevoegen</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="search" class="form-control form-control-lg" id="search-room" placeholder="Zoek zaal" [(ngModel)]="search" (keyup)="onSearch()"/>
  </div>
</div>

<div class="row">
  <app-room [room]="room"
            *ngFor="let room of rooms"
            class="col-sm-6 col-md-4">
  </app-room>
</div>
